<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationIntent</string>
	</array>
	<key>TidalDiscoveryAPISubscriptionKeyPrimary</key>
	<string>$(UK_TIDE_API_SUBSCRIPTION_KEY)</string>
	<key>UKTidalAPIBaseURL</key>
	<string>$(UK_TIDAL_API_BASE_URL)</string>
</dict>
</plist>
